
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-image: url('../img/background-hero-site.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
}

/* Estilização da navbar */
header {
    backdrop-filter: blur(5px);
    position: fixed;
    z-index: 1;
    min-width: fit-content;
    width: 90vw;
    height: 90px;
    margin-top: 40px;
    border-radius: 32px;
    display: flex;
    padding: 18px;
    justify-content: space-between;
    background-color: #FFFFFFB2;
}

header div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(175, 175, 175)k;
    height: 100%;
    width: 28%;
}

.header_botoes {
    width: 430px;
}


.botao {
    font-size: 15px;
    min-width: 200px;
    height: 50px;
    padding: 15px 20px;
    border-radius: 20px;
    border: none;
}

.botao_roxo {
    font-size: 15px;
    min-width: 200px;
    height: 50px;
    padding: 15px 20px;
    border-radius: 20px;
    border: none;
    background-color: #4851D5;
    color: white;
    font-weight: 600;
    cursor: pointer;
}

.transparente {

    background-color: transparent;
    color: #4851D5;
    border: 2px solid #4851D5;
    font-weight: bold;

}
.botao_roxo:hover {
    background-color: #3437a0;
    transition: 0.2s;
    background-color: #4851D5;
    color: white;
}

.botao_roxo:hover {
    background-color: #3437a0;
    transition: 0.2s;
    color: white;



.logo {
    width: 300px;
    display: flex;
    justify-content: flex-start;
}

.logo img {
    width: 60px;
}

.logo_desc {
    width: 100%;
    text-align: start;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 15px;
}

.logo_desc h1 {
    font-size: 36px;
    font-weight: bold;
    color: #0E0E25;
    font-family: monospace;
    letter-spacing: 2px;
}


.menu_button img {
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 0.4s ease;
}

.menu_button img:hover {
    transform: rotate(180deg) scale(1.1);
}


.logo_desc h4 {
    font-size: 15px;
    color: #3D3D3D;
    font-weight: 700;
}

.navbar {
    width: 300px;
}

nav {
    display: flex;
    justify-content: center;
    gap: 20px;
    width: 100%;
    max-width: 100%;
}

nav a {
    color: #3A3A3A;
    text-decoration: none;
    font-weight: 700;
    position: relative;
    padding: 5px 0;
}

nav a:hover {
    color: #4851D5;
    transition: color 0.2s ease;
}

nav a::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 2px;
    background-color: #4851D5;
    transition: width 0.2s ease;
}

nav a:hover::after {
    width: 100%;
}
/* Estilização da navbar */




/* Estilização da index.html */
.container_meio {
    margin-top: 140px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.banner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 95vh;
    width: 90vw;
    gap: 20px;
}


.banner_text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 30px;
    justify-content: center;
    min-width: 50vw;
    height: 100%;
}

.titulo {
    width: 80%;
    line-height: 1.5;
    font-weight: bold ;
    font-size: 60px;
    color: #0E0E25;
}


.banner_text h2 {
    width: 80%;
    color: #7A7A7A;
    font-weight: lighter;
}

.banner img {
    height: 100%;
}

.banner_button {
    display: flex;
    justify-content: flex-start;
    gap: 60px;
    width: 100%;
}

.container1 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 50px;
    align-items: center;
    background-image: url('../img/background-segunda-secao-home.jpg');
    background-size: cover;
    /* box-shadow: 0px -5px 15px #faf9ffd5; */
    width: 100vw;
    min-height: 50vh;
    max-height: fit-content;
    background-color: white;
    padding: 150px 40px;
}

.container1_subdiv1 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
    padding: 0px 2%;
    width: 100%;
    height: fit-content;
    
}

.titulo2 {
    color: #0E0E25;
    font-weight: bold;
    line-height: 1.5;
    font-size: 50px;
    width: 50%;
}

.subtitulo {
    margin-left: 5px;
    letter-spacing: 4px;
    font-weight: lighter;
    color: #4851D5;
}
/* 
.container1_subdiv2 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    padding: 0px 2%;
    width: 100%;
    height: fit-content;

}
*/

.container1_subdiv2 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 70px;
    padding: 0px 2%;
    width: 100%;
    flex-wrap: wrap;
    height: fit-content;
    overflow-x: auto;
    overflow-y: hidden;

}

/* 
.container1_elementos {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 70px;

} 
*/

.elemento {
    display: flex;
    padding: 40px;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    min-width: 412px;
    width: 22vw;
    height: 42vh;
    border: 1px solid #C0C0BD80;
    border-radius: 16px;
    background-color: #F3F3FF;
    box-shadow: 0px 0px 15px #0000001F;

}
.elemento img{
    width: 120px;
}
.elemento p{
    text-align: center;
    line-height: 1.5;
    color: #7A7A7A;
    margin-top: 20px;
    font-weight: bold;
    font-size: 16px;
}
.elemento h1{
    color:#0E0E25;
    text-align: center;
    font-size: 20px;
}
.elemento button{
    font-size: 20px;
    font-weight: 200;
}
/* Estilização da index.html */

